In [5]:
import pandas as pd
from pathlib import Path
from langchain.output_parsers import PandasDataFrameOutputParser

# fpath = Path(__file__).parent.parent

# Dataset loading and definition.
df = pd.read_excel('/home/karan/AI-Powered-Dataset-Analyzer/testing/data/Book2.xlsx', header=[0,1], index_col=[0,1, 2]).fillna(0)
df.index.names = ['Category', 'Subcategory', 'Measure']
df.columns.names = ['MainCategory', 'Subcategory']

# print(df.loc[(slice(None), 'Male'), ('UK County', 'North West')].sum()) # Give me pandas query to find number of Males in North West of UK County.

# print(df['UK County', 'North West'].loc['Gender', 'Male'].loc['Value']) #Wanted

# print(df.loc[(slice(None), 'Male'), (slice(None), 'North West')].sum()) #Using pandas, find the number of Males in the North West region of UK County.

# from io import StringIO
# buffer = StringIO()
# df.info(buf=buffer)  # Extract structure information
# df_info = buffer.getvalue()
# print(df_info)

# print(df.describe())

# north_west_data = df.loc[:, ('UK County', 'North West')]
# # print(north_west_data)
# total_males = north_west_data['Gender', 'Male'].sum()
# # print(total_males)
# total_population = north_west_data['Gender', 'Male'].sum() + north_west_data['Gender', 'Female'].sum()
# # print(total_population)
# percentage_males_north_west = (54 / (54+60)) * 100
# print(percentage_males_north_west)

display(df)

# print(df.loc[('UK County', 'North West', 'Percentage'), ('Gender', 'Male')])

MainCategory                                Gender         UK County  \
Subcategory                                   Male Female North East
Category  Subcategory            Measure
Gender    Male                   Value       477.0    0.0       22.0
                                 Percentage  100.0    0.0       49.0
          Female                 Value         0.0  532.0       23.0
                                 Percentage    0.0  100.0       51.0
UK County North East             Value        22.0   23.0       45.0
                                 Percentage    5.0    4.0      100.0
          North West             Value        54.0   60.0        0.0
                                 Percentage   11.0   11.0        0.0
          Yorkshire & The Humber Value        42.0   45.0        0.0
                                 Percentage    9.0    8.0        0.0
          East Midlands          Value        37.0   41.0        0.0
                                 Percentage    8.0    8.0        0.0
          West Midlands          Value        47.0   50.0        0.0
                                 Percentage   10.0    9.0        0.0
          East of England        Value        43.0   49.0        0.0
                                 Percentage    9.0    9.0        0.0
          London                 Value        60.0   59.0        0.0
                                 Percentage   13.0   11.0        0.0
          South East             Value        67.0   69.0        0.0
                                 Percentage   14.0   13.0        0.0
          South West             Value        42.0   51.0        0.0
                                 Percentage    9.0   10.0        0.0
          Wales                  Value        20.0   21.0        0.0
                                 Percentage    4.0    4.0        0.0
          Scotland               Value        33.0   43.0        0.0
                                 Percentage    7.0    8.0        0.0
          Northern Ireland       Value        10.0   21.0        0.0
                                 Percentage    2.0    4.0        0.0
Age       18-24                  Value        59.0   75.0        7.0
          18-25                  Percentage   12.0   14.0       16.0
          25-34                  Value        97.0  114.0        9.0
          25-35                  Percentage   20.0   21.0       20.0
          35-44                  Value       132.0  146.0       12.0
          35-45                  Percentage   28.0   27.0       27.0
          45-54                  Value       104.0  113.0        8.0
          45-55                  Percentage   22.0   21.0       18.0
          55-64                  Value        85.0   84.0        9.0
          55-65                  Percentage   18.0   16.0       20.0

MainCategory                                                                   \
Subcategory                                 North West Yorkshire & The Humber
Category  Subcategory            Measure
Gender    Male                   Value            54.0                   42.0
                                 Percentage       47.0                   48.0
          Female                 Value            60.0                   45.0
                                 Percentage       53.0                   52.0
UK County North East             Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          North West             Value           114.0                    0.0
                                 Percentage      100.0                    0.0
          Yorkshire & The Humber Value             0.0                   87.0
                                 Percentage        0.0                  100.0
          East Midlands          Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          West Midlands          Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          East of England        Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          London                 Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          South East             Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          South West             Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          Wales                  Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          Scotland               Value             0.0                    0.0
                                 Percentage        0.0                    0.0
          Northern Ireland       Value             0.0                    0.0
                                 Percentage        0.0                    0.0
Age       18-24                  Value            15.0                   12.0
          18-25                  Percentage       13.0                   14.0
          25-34                  Value            23.0                   16.0
          25-35                  Percentage       20.0                   18.0
          35-44                  Value            30.0                   24.0
          35-45                  Percentage       26.0                   28.0
          45-54                  Value            26.0                   20.0
          45-55                  Percentage       23.0                   23.0
          55-64                  Value            20.0                   15.0
          55-65                  Percentage       18.0                   17.0

MainCategory                                                             \
Subcategory                                 East Midlands West Midlands
Category  Subcategory            Measure
Gender    Male                   Value               37.0          47.0
                                 Percentage          47.0          48.0
          Female                 Value               41.0          50.0
                                 Percentage          53.0          52.0
UK County North East             Value                0.0           0.0
                                 Percentage           0.0           0.0
          North West             Value                0.0           0.0
                                 Percentage           0.0           0.0
          Yorkshire & The Humber Value                0.0           0.0
                                 Percentage           0.0           0.0
          East Midlands          Value               78.0           0.0
                                 Percentage         100.0           0.0
          West Midlands          Value                0.0          97.0
                                 Percentage           0.0         100.0
          East of England        Value                0.0           0.0
                                 Percentage           0.0           0.0
          London                 Value                0.0           0.0
                                 Percentage           0.0           0.0
          South East             Value                0.0           0.0
                                 Percentage           0.0           0.0
          South West             Value                0.0           0.0
                                 Percentage           0.0           0.0
          Wales                  Value                0.0           0.0
                                 Percentage           0.0           0.0
          Scotland               Value                0.0           0.0
                                 Percentage           0.0           0.0
          Northern Ireland       Value                0.0           0.0
                                 Percentage           0.0           0.0
Age       18-24                  Value               10.0          12.0
          18-25                  Percentage          13.0          12.0
          25-34                  Value               16.0          20.0
          25-35                  Percentage          21.0          21.0
          35-44                  Value               21.0          26.0
          35-45                  Percentage          27.0          27.0
          45-54                  Value               16.0          22.0
          45-55                  Percentage          21.0          23.0
          55-64                  Value               15.0          17.0
          55-65                  Percentage          19.0          18.0

MainCategory                                                                   \
Subcategory                                 East of England London South East
Category  Subcategory            Measure
Gender    Male                   Value                 43.0   60.0       67.0
                                 Percentage            47.0   50.0       49.0
          Female                 Value                 49.0   59.0       69.0
                                 Percentage            53.0   50.0       51.0
UK County North East             Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          North West             Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          Yorkshire & The Humber Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          East Midlands          Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          West Midlands          Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          East of England        Value                 92.0    0.0        0.0
                                 Percentage           100.0    0.0        0.0
          London                 Value                  0.0  119.0        0.0
                                 Percentage             0.0  100.0        0.0
          South East             Value                  0.0    0.0      136.0
                                 Percentage             0.0    0.0      100.0
          South West             Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          Wales                  Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          Scotland               Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
          Northern Ireland       Value                  0.0    0.0        0.0
                                 Percentage             0.0    0.0        0.0
Age       18-24                  Value                 14.0   20.0       19.0
          18-25                  Percentage            15.0   17.0       14.0
          25-34                  Value                 19.0   27.0       29.0
          25-35                  Percentage            21.0   23.0       21.0
          35-44                  Value                 26.0   36.0       35.0
          35-45                  Percentage            28.0   30.0       26.0
          45-54                  Value                 18.0   26.0       29.0
          45-55                  Percentage            20.0   22.0       21.0
          55-64                  Value                 15.0   10.0       24.0
          55-65                  Percentage            16.0    8.0       18.0

MainCategory                                                            \
Subcategory                                 South West  Wales Scotland
Category  Subcategory            Measure
Gender    Male                   Value            42.0   20.0     33.0
                                 Percentage       45.0   49.0     43.0
          Female                 Value            51.0   21.0     43.0
                                 Percentage       55.0   51.0     57.0
UK County North East             Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          North West             Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          Yorkshire & The Humber Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          East Midlands          Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          West Midlands          Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          East of England        Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          London                 Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          South East             Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
          South West             Value            93.0    0.0      0.0
                                 Percentage      100.0    0.0      0.0
          Wales                  Value             0.0   41.0      0.0
                                 Percentage        0.0  100.0      0.0
          Scotland               Value             0.0    0.0     76.0
                                 Percentage        0.0    0.0    100.0
          Northern Ireland       Value             0.0    0.0      0.0
                                 Percentage        0.0    0.0      0.0
Age       18-24                  Value             9.0    3.0      8.0
          18-25                  Percentage       10.0    7.0     11.0
          25-34                  Value            20.0   11.0     14.0
          25-35                  Percentage       22.0   27.0     18.0
          35-44                  Value            26.0   10.0     23.0
          35-45                  Percentage       28.0   24.0     30.0
          45-54                  Value            21.0    7.0     17.0
          45-55                  Percentage       23.0   17.0     22.0
          55-64                  Value            17.0   10.0     14.0
          55-65                  Percentage       18.0   24.0     18.0

MainCategory                                                    Age        \
Subcategory                                 Northern Ireland  18-24 25-34
Category  Subcategory            Measure
Gender    Male                   Value                  10.0   59.0    97
                                 Percentage             32.0   44.0    46
          Female                 Value                  21.0   75.0   114
                                 Percentage             68.0   56.0    54
UK County North East             Value                   0.0    7.0     9
                                 Percentage              0.0    5.0     4
          North West             Value                   0.0   15.0    23
                                 Percentage              0.0   11.0    11
          Yorkshire & The Humber Value                   0.0   12.0    16
                                 Percentage              0.0    9.0     8
          East Midlands          Value                   0.0   10.0    16
                                 Percentage              0.0    7.0     8
          West Midlands          Value                   0.0   12.0    20
                                 Percentage              0.0    9.0     9
          East of England        Value                   0.0   14.0    19
                                 Percentage              0.0   10.0     9
          London                 Value                   0.0   20.0    27
                                 Percentage              0.0   15.0    13
          South East             Value                   0.0   19.0    29
                                 Percentage              0.0   14.0    14
          South West             Value                   0.0    9.0    20
                                 Percentage              0.0    7.0     9
          Wales                  Value                   0.0    3.0    11
                                 Percentage              0.0    2.0     5
          Scotland               Value                   0.0    8.0    14
                                 Percentage              0.0    6.0     7
          Northern Ireland       Value                  31.0    5.0     7
                                 Percentage            100.0    4.0     3
Age       18-24                  Value                   5.0  134.0     0
          18-25                  Percentage             16.0  100.0     0
          25-34                  Value                   7.0    0.0   211
          25-35                  Percentage             23.0    0.0   100
          35-44                  Value                   9.0    0.0     0
          35-45                  Percentage             29.0    0.0     0
          45-54                  Value                   7.0    0.0     0
          45-55                  Percentage             23.0    0.0     0
          55-64                  Value                   3.0    0.0     0
          55-65                  Percentage             10.0    0.0

MainCategory
Subcategory                                  35-44  45-54  55-64
Category  Subcategory            Measure
Gender    Male                   Value       132.0  104.0   85.0
                                 Percentage   47.0   48.0   50.0
          Female                 Value       146.0  113.0   84.0
                                 Percentage   53.0   52.0   50.0
UK County North East             Value        12.0    8.0    9.0
                                 Percentage    4.0    4.0    5.0
          North West             Value        30.0   26.0   20.0
                                 Percentage   11.0   12.0   12.0
          Yorkshire & The Humber Value        24.0   20.0   15.0
                                 Percentage    9.0    9.0    9.0
          East Midlands          Value        21.0   16.0   15.0
                                 Percentage    8.0    7.0    9.0
          West Midlands          Value        26.0   22.0   17.0
                                 Percentage    9.0   10.0   10.0
          East of England        Value        26.0   18.0   15.0
                                 Percentage    9.0    8.0    9.0
          London                 Value        36.0   26.0   10.0
                                 Percentage   13.0   12.0    6.0
          South East             Value        35.0   29.0   24.0
                                 Percentage   13.0   13.0   14.0
          South West             Value        26.0   21.0   17.0
                                 Percentage    9.0   10.0   10.0
          Wales                  Value        10.0    7.0   10.0
                                 Percentage    4.0    3.0    6.0
          Scotland               Value        23.0   17.0   14.0
                                 Percentage    8.0    8.0    8.0
          Northern Ireland       Value         9.0    7.0    3.0
                                 Percentage    3.0    3.0    2.0
Age       18-24                  Value         0.0    0.0    0.0

In [5]:
def get_df_structure(df):
    return (f"Index levels: {df.index.names}\n"
            f"Index values: {[df.index.get_level_values(i).unique().tolist() for i in range(df.index.nlevels)]}\n"
            f"Column levels: {df.columns.names}\n"
            f"Column values: {[df.columns.get_level_values(i).unique().tolist() for i in range(df.columns.nlevels)]}")

In [6]:
get_df_structure(df)

"Index levels: ['Category', 'Subcategory', 'Measure']\nIndex values: [['Gender', 'UK County', 'Age'], ['Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '18-25', '25-34', '25-35', '35-44', '35-45', '45-54', '45-55', '55-64', '55-65'], ['Value', 'Percentage']]\nColumn levels: ['MainCategory', 'Subcategory']\nColumn values: [['Gender', 'UK County', 'Age'], ['Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64']]"

In [7]:
df.loc[('Gender', 'Male', 'Percentage'), ('UK County', 'North West')]

47.0

In [ ]:
#v2 SCHEMA_QUERY PROMPT


# schema_query_prompt = """
#     You are a Schema Retrieval and Query Building Agent. Your task:

#     1. Analyze the DataFrame schema (3-level row index, 2-level column index).
#     2. Build an efficient single Pandas query based on the user's request.

#     Guidelines:
#     - Check row and column indexes.
#     - Prefer direct query over multiple calculations.
#     - Use precise index values; avoid `slice(None)` in queries.

#     Available tools: {tools_list}

#     Format:
#     Question: [user's question]
#     Thought: [consice reasoning, focusing on multi-index structure]
#     Action: [choose one or more tool as required from {tool_names} based on reasoning thought and user query]
#     Observation: [reasoning on result of Action]
#     (Repeat any/all steps if needed)
#     Thought: I can now construct required pandas query.

#     Output: [Pandas query in {format_instructions} format]

#     Begin:

In [ ]:
"""
    You are a Schema Retrieval and Query Building Agent. Your task is to:

    1. ANALYZE 'df' SCHEMA: Examine the 3-level row index and 2-level column index structure.
    2. UNDERSTAND INDEX RELATIONSHIPS: Grasp how data is aggregated or segmented across index levels.
    3. BUILD A PRECISE PANDAS QUERY: Construct a single, efficient query to answer the user's question.

    Key Guidelines:
    - EXPLORE THOROUGHLY: Comprehend the dataset's structure and contents before query construction.
    - USE TOOLS WISELY: Leverage available tools for necessary dataset information.
    - AVOID PITFALLS: Be wary of double-counting, overlapping data, and hierarchical relationships.
    - PRIORITIZE PRECISION: Use specific index levels and values; avoid `slice(None)` in queries.
    - ENSURE RELEVANCE: Query should directly address the user's question without extraneous computations.
    - OPTIMIZE TOOL USAGE: Avoid unnecessary and repetitive tool calls.

    Query Construction Process:
    1. INTERPRET USER QUERY: Identify all possible interpretations of the request.
    2. ANALYZE QUERY STRUCTURE: Understand how different interpretations affect query structure.
    3. EXAMINE DATASET STRUCTURE: Focus on how to access information for each interpretation.
    4. CONSTRUCT QUERIES: Build efficient Pandas queries for each interpretation.
    5. EVALUATE QUERIES: Assess which query best answers the user's question based on 'df' structure.
    6. SELECT BEST ANSWER: Choose the most appropriate query and explain the selection.

    Available tools: {tools_list}

    Format to construct the pandas query:
    Question: [user's question]
    Thought: [All possible interpretations of the user's query]
    Thought: [How different interpretations affect query structure]
    Thought: [Reasoning about 'df' structure and query approaches, focusing on multi-indexed row and column structure]
    Action: [Select tool(s) from {tool_names} based on reasoning and user query]
    Observation: [Interpret tool output in relation to query interpretations and 'df' structure]
    Thought: [Reasoning for constructing queries for each interpretation]
    Output: [Pandas queries for each interpretation in {format_instructions} format]
    Thought: [Evaluation of queries based on user's information requirement and 'df' structure]
    (Repeat Thought/Action/Observation if needed)
    Thought: I can now construct required pandas query.
    Output: [Selected best Pandas query in {format_instructions} format with explanation]

    Begin:
    """

In [ ]:
#   """Provides detailed information about the dataset's indexing structure, including levels, unique values, and hierarchical relationships."""
#     index_info = (f"Index levels: {data_df.index.names}\n"
#                   f"Index values: {[data_df.index.get_level_values(i).unique().tolist() for i in range(data_df.index.nlevels)]}\n"
#                   f"Column levels: {data_df.columns.names}\n"
#                   f"Column values: {[data_df.columns.get_level_values(i).unique().tolist() for i in range(data_df.columns.nlevels)]}")
#     return f"Index Information as follows: {index_info}"

In [ ]:
# """
#     You are a Schema Retrieval and Query Building Agent. Your task is to analyze a dataframe's structure, understand its relationships, and build an efficient, accurate pandas query to answer the user's question.

#     Key steps:
#     1. Analyze the dataframe structure (3-level row index, 2-level column index).
#     2. Understand relationships between index levels and data aggregation.
#     3. Build a single pandas query to answer the user's question.

#     Guidelines:
#     - Thoroughly explore the dataset before constructing the query.
#     - Use available tools to gather necessary information.
#     - Be cautious of double-counting, overlapping data, and hierarchical relationships.
#     - Aim for clarity and precision in your query, using specific index levels and values.
#     - Ensure the query directly addresses the user's question.

#     Query construction process:
#     1. Identify requested information
#     2. Determine relevant dataset parts
#     3. Analyze dataset structure
#     4. Consider potential issues
#     5. Use appropriate tool(s) to gather information
#     6. Construct efficient pandas query

#     Available tools: {tools_list}

#     Format:
#     Question: [user's question]
#     Thought: [concise reasoning about dataset structure and query approach]
#     Action: [choose tool(s) from {tool_names}]
#     Observation: [interpret tool output]
#     (Repeat Thought/Action/Observation if needed)
#     Thought: I can now construct the required pandas query.
#     Output: [Pandas query in {format_instructions} format]

#     Begin:
#     """