In [13]:
import pandas as pd
from pathlib import Path
from langchain.output_parsers import PandasDataFrameOutputParser

# fpath = Path(__file__).parent.parent

# Dataset loading and definition.
df = pd.read_excel('/home/karan/AI-Powered-Dataset-Analyzer/data/Dataset_1.xlsx', header=[0,1], index_col=[0,1, 2]).fillna(0)
# df.index.names = ['Category', 'Subcategory', 'Measure']
# df.columns.names = ['MainCategory', 'Subcategory']

# print(df.loc[(slice(None), 'Male'), ('UK County', 'North West')].sum()) # Give me pandas query to find number of Males in North West of UK County.

# print(df['UK County', 'North West'].loc['Gender', 'Male'].loc['Value']) #Wanted

# print(df.loc[(slice(None), 'Male'), (slice(None), 'North West')].sum()) #Using pandas, find the number of Males in the North West region of UK County.

# from io import StringIO
# buffer = StringIO()
# df.info(buf=buffer)  # Extract structure information
# df_info = buffer.getvalue()
# print(df_info)

# print(df.describe())

# north_west_data = df.loc[:, ('UK County', 'North West')]
# # print(north_west_data)
# total_males = north_west_data['Gender', 'Male'].sum()
# # print(total_males)
# total_population = north_west_data['Gender', 'Male'].sum() + north_west_data['Gender', 'Female'].sum()
# # print(total_population)
# percentage_males_north_west = (54 / (54+60)) * 100
# print(percentage_males_north_west)

# display(df)
display(df)

print(df.loc[('Demographics', 'Total', 'Percentage'), ('UK County', 'North East')])

# print(df.loc[('UK County', 'North West', 'Percentage'), ('Gender', 'Male')])

Column Main Category                                                             Demographics  \
Colum Sub-Category                                                                      Total
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value              1009.0
                                                                    Percentage          100.0
Gender                                             Male             Value               477.0
                                                                    Percentage           47.0
                                                   Female           Value               532.0
...                                                                                       ...
Question 20 - Can you name one brand that stand... Tesla            Percentage            1.0
                                                   Nike             Value                23.0
                                                                    Percentage            2.0
                                                   No Group         Value               112.0
                                                                    Percentage           10.0

Column Main Category                                                                  Gender  \
Colum Sub-Category                                                                      Male
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         477.000000
                                                                    Percentage     47.000000
Gender                                             Male             Value         477.000000
                                                                    Percentage    100.000000
                                                   Female           Value           0.000000
...                                                                                      ...
Question 20 - Can you name one brand that stand... Tesla            Percentage      2.515723
                                                   Nike             Value          13.000000
                                                                    Percentage      2.725367
                                                   No Group         Value          57.000000
                                                                    Percentage     11.949686

Column Main Category                                                                          \
Colum Sub-Category                                                                    Female
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         532.000000
                                                                    Percentage     53.000000
Gender                                             Male             Value           0.000000
                                                                    Percentage      0.000000
                                                   Female           Value         532.000000
...                                                                                      ...
Question 20 - Can you name one brand that stand... Tesla            Percentage      0.000000
                                                   Nike             Value          10.000000
                                                                    Percentage      1.879699
                                                   No Group         Value          55.000000
                                                                    Percentage     10.338346

Column Main Category                                                              UK County  \
Colum Sub-Category                                                               North East
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         45.000000
                                                                    Percentage     4.000000
Gender                                             Male             Value         22.000000
                                                                    Percentage    49.000000
                                                   Female           Value         23.000000
...                                                                                     ...
Question 20 - Can you name one brand that stand... Tesla            Percentage     0.000000
                                                   Nike             Value          0.000000
                                                                    Percentage     0.000000
                                                   No Group         Value          4.000000
                                                                    Percentage     8.888889

Column Main Category                                                                          \
Colum Sub-Category                                                                North West
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         114.000000
                                                                    Percentage     11.000000
Gender                                             Male             Value          54.000000
                                                                    Percentage     47.000000
                                                   Female           Value          60.000000
...                                                                                      ...
Question 20 - Can you name one brand that stand... Tesla            Percentage      1.754386
                                                   Nike             Value           4.000000
                                                                    Percentage      3.508772
                                                   No Group         Value          14.000000
                                                                    Percentage     12.280702

Column Main Category                                                                                     \
Colum Sub-Category                                                               Yorkshire & The Humber
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value                     87.000000
                                                                    Percentage                 9.000000
Gender                                             Male             Value                     42.000000
                                                                    Percentage                48.000000
                                                   Female           Value                     45.000000
...                                                                                                 ...
Question 20 - Can you name one brand that stand... Tesla            Percentage                 0.000000
                                                   Nike             Value                      1.000000
                                                                    Percentage                 1.149425
                                                   No Group         Value                     12.000000
                                                                    Percentage                13.793103

Column Main Category                                                                            \
Colum Sub-Category                                                               East Midlands
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value            78.000000
                                                                    Percentage        8.000000
Gender                                             Male             Value            37.000000
                                                                    Percentage       47.000000
                                                   Female           Value            41.000000
...                                                                                        ...
Question 20 - Can you name one brand that stand... Tesla            Percentage        2.564103
                                                   Nike             Value             0.000000
                                                                    Percentage        0.000000
                                                   No Group         Value             5.000000
                                                                    Percentage        6.410256

Column Main Category                                                                            \
Colum Sub-Category                                                               West Midlands
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value            97.000000
                                                                    Percentage       10.000000
Gender                                             Male             Value            47.000000
                                                                    Percentage       48.000000
                                                   Female           Value            50.000000
...                                                                                        ...
Question 20 - Can you name one brand that stand... Tesla            Percentage        0.000000
                                                   Nike             Value             2.000000
                                                                    Percentage        2.061856
                                                   No Group         Value            11.000000
                                                                    Percentage       11.340206

Column Main Category                                                                              \
Colum Sub-Category                                                               East of England
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value              92.000000
                                                                    Percentage          9.000000
Gender                                             Male             Value              43.000000
                                                                    Percentage         47.000000
                                                   Female           Value              49.000000
...                                                                                          ...
Question 20 - Can you name one brand that stand... Tesla            Percentage          3.260870
                                                   Nike             Value               1.000000
                                                                    Percentage          1.086957
                                                   No Group         Value              10.000000
                                                                    Percentage         10.869565

Column Main Category                                                                          \
Colum Sub-Category                                                                    London
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         119.000000
                                                                    Percentage     12.000000
Gender                                             Male             Value          60.000000
                                                                    Percentage     50.000000
                                                   Female           Value          59.000000
...                                                                                      ...
Question 20 - Can you name one brand that stand... Tesla            Percentage      0.840336
                                                   Nike             Value           4.000000
                                                                    Percentage      3.361345
                                                   No Group         Value          18.000000
                                                                    Percentage     15.126050

Column Main Category                                                              ...  \
Colum Sub-Category                                                                ...
Row Main Category                                  Row Sub-Category Measure Type  ...
Demographics                                       Total            Value         ...
                                                                    Percentage    ...
Gender                                             Male             Value         ...
                                                                    Percentage    ...
                                                   Female           Value         ...
...                                                                               ...
Question 20 - Can you name one brand that stand... Tesla            Percentage    ...
                                                   Nike             Value         ...
                                                                    Percentage    ...
                                                   No Group         Value         ...
                                                                    Percentage    ...

Column Main Category                                                             Question 20 - Can you name one brand that stands out to you for its environmental / sustainability focus? And why?  \
Colum Sub-Category                                                                                                                                                                            Apple
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value                                                      52.0
                                                                    Percentage                                                  5.0
Gender                                             Male             Value                                                      25.0
                                                                    Percentage                                                 48.0
                                                   Female           Value                                                      27.0
...                                                                                                                             ...
Question 20 - Can you name one brand that stand... Tesla            Percentage                                                  0.0
                                                   Nike             Value                                                       0.0
                                                                    Percentage                                                  0.0
                                                   No Group         Value                                                       0.0
                                                                    Percentage                                                  0.0

Column Main Category                                                                    \
Colum Sub-Category                                                                Lush
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         18.0
                                                                    Percentage     2.0
Gender                                             Male             Value          7.0
                                                                    Percentage    39.0
                                                   Female           Value         11.0
...                                                                                ...
Question 20 - Can you name one brand that stand... Tesla            Percentage     0.0
                                                   Nike             Value          0.0
                                                                    Percentage     0.0
                                                   No Group         Value          0.0
                                                                    Percentage     0.0

Column Main Category                                                                    \
Colum Sub-Category                                                                Lidl
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value         45.0
                                                                    Percentage     4.0
Gender                                             Male             Value         28.0
                                                                    Percentage    62.0
                                                   Female           Value         17.0
...                                                                                ...
Question 20 - Can you name one brand that stand... Tesla            Percentage     0.0
                                                   Nike             Value          0.0
                                                                    Percentage     0.0
                                                   No Group         Value          0.0
                                                                    Percentage     0.0

Column Main Category                                                                     \
Colum Sub-Category                                                               Ecover
Row Main Category                                  Row Sub-Category Measure Type
Demographics                                       Total            Value          21.0
                                                                    Percentage      2.0
Gender                                             Male             Value          10.0
                                                                    Percentage     48.0
                                                   Female           Value          11.0
...                                                                                 ...
Question 20 - Can you name one brand that stand... Tesla            Percentage      0.0
                                                   Nike             Value           0.0
                                                                    Percentage      0.0
                                                   No Group         Value           0.0
                                                                    Percentage      0.0


4.0

In [5]:
def get_df_structure(df):
    return (f"Index levels: {df.index.names}\n"
            f"Index values: {[df.index.get_level_values(i).unique().tolist() for i in range(df.index.nlevels)]}\n"
            f"Column levels: {df.columns.names}\n"
            f"Column values: {[df.columns.get_level_values(i).unique().tolist() for i in range(df.columns.nlevels)]}")

In [6]:
get_df_structure(df)

"Index levels: ['Category', 'Subcategory', 'Measure']\nIndex values: [['Gender', 'UK County', 'Age'], ['Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '18-25', '25-34', '25-35', '35-44', '35-45', '45-54', '45-55', '55-64', '55-65'], ['Value', 'Percentage']]\nColumn levels: ['MainCategory', 'Subcategory']\nColumn values: [['Gender', 'UK County', 'Age'], ['Male', 'Female', 'North East', 'North West', 'Yorkshire & The Humber', 'East Midlands', 'West Midlands', 'East of England', 'London', 'South East', 'South West', 'Wales', 'Scotland', 'Northern Ireland', '18-24', '25-34', '35-44', '45-54', '55-64']]"

In [7]:
df.loc[('Gender', 'Male', 'Percentage'), ('UK County', 'North West')]

47.0

In [ ]:
#v2 SCHEMA_QUERY PROMPT


# schema_query_prompt = """
#     You are a Schema Retrieval and Query Building Agent. Your task:

#     1. Analyze the DataFrame schema (3-level row index, 2-level column index).
#     2. Build an efficient single Pandas query based on the user's request.

#     Guidelines:
#     - Check row and column indexes.
#     - Prefer direct query over multiple calculations.
#     - Use precise index values; avoid `slice(None)` in queries.

#     Available tools: {tools_list}

#     Format:
#     Question: [user's question]
#     Thought: [consice reasoning, focusing on multi-index structure]
#     Action: [choose one or more tool as required from {tool_names} based on reasoning thought and user query]
#     Observation: [reasoning on result of Action]
#     (Repeat any/all steps if needed)
#     Thought: I can now construct required pandas query.

#     Output: [Pandas query in {format_instructions} format]

#     Begin:

In [ ]:
"""
    You are a Schema Retrieval and Query Building Agent. Your task is to:

    1. ANALYZE 'df' SCHEMA: Examine the 3-level row index and 2-level column index structure.
    2. UNDERSTAND INDEX RELATIONSHIPS: Grasp how data is aggregated or segmented across index levels.
    3. BUILD A PRECISE PANDAS QUERY: Construct a single, efficient query to answer the user's question.

    Key Guidelines:
    - EXPLORE THOROUGHLY: Comprehend the dataset's structure and contents before query construction.
    - USE TOOLS WISELY: Leverage available tools for necessary dataset information.
    - AVOID PITFALLS: Be wary of double-counting, overlapping data, and hierarchical relationships.
    - PRIORITIZE PRECISION: Use specific index levels and values; avoid `slice(None)` in queries.
    - ENSURE RELEVANCE: Query should directly address the user's question without extraneous computations.
    - OPTIMIZE TOOL USAGE: Avoid unnecessary and repetitive tool calls.

    Query Construction Process:
    1. INTERPRET USER QUERY: Identify all possible interpretations of the request.
    2. ANALYZE QUERY STRUCTURE: Understand how different interpretations affect query structure.
    3. EXAMINE DATASET STRUCTURE: Focus on how to access information for each interpretation.
    4. CONSTRUCT QUERIES: Build efficient Pandas queries for each interpretation.
    5. EVALUATE QUERIES: Assess which query best answers the user's question based on 'df' structure.
    6. SELECT BEST ANSWER: Choose the most appropriate query and explain the selection.

    Available tools: {tools_list}

    Format to construct the pandas query:
    Question: [user's question]
    Thought: [All possible interpretations of the user's query]
    Thought: [How different interpretations affect query structure]
    Thought: [Reasoning about 'df' structure and query approaches, focusing on multi-indexed row and column structure]
    Action: [Select tool(s) from {tool_names} based on reasoning and user query]
    Observation: [Interpret tool output in relation to query interpretations and 'df' structure]
    Thought: [Reasoning for constructing queries for each interpretation]
    Output: [Pandas queries for each interpretation in {format_instructions} format]
    Thought: [Evaluation of queries based on user's information requirement and 'df' structure]
    (Repeat Thought/Action/Observation if needed)
    Thought: I can now construct required pandas query.
    Output: [Selected best Pandas query in {format_instructions} format with explanation]

    Begin:
    """

In [ ]:
#   """Provides detailed information about the dataset's indexing structure, including levels, unique values, and hierarchical relationships."""
#     index_info = (f"Index levels: {data_df.index.names}\n"
#                   f"Index values: {[data_df.index.get_level_values(i).unique().tolist() for i in range(data_df.index.nlevels)]}\n"
#                   f"Column levels: {data_df.columns.names}\n"
#                   f"Column values: {[data_df.columns.get_level_values(i).unique().tolist() for i in range(data_df.columns.nlevels)]}")
#     return f"Index Information as follows: {index_info}"

In [ ]:
# """
#     You are a Schema Retrieval and Query Building Agent. Your task is to analyze a dataframe's structure, understand its relationships, and build an efficient, accurate pandas query to answer the user's question.

#     Key steps:
#     1. Analyze the dataframe structure (3-level row index, 2-level column index).
#     2. Understand relationships between index levels and data aggregation.
#     3. Build a single pandas query to answer the user's question.

#     Guidelines:
#     - Thoroughly explore the dataset before constructing the query.
#     - Use available tools to gather necessary information.
#     - Be cautious of double-counting, overlapping data, and hierarchical relationships.
#     - Aim for clarity and precision in your query, using specific index levels and values.
#     - Ensure the query directly addresses the user's question.

#     Query construction process:
#     1. Identify requested information
#     2. Determine relevant dataset parts
#     3. Analyze dataset structure
#     4. Consider potential issues
#     5. Use appropriate tool(s) to gather information
#     6. Construct efficient pandas query

#     Available tools: {tools_list}

#     Format:
#     Question: [user's question]
#     Thought: [concise reasoning about dataset structure and query approach]
#     Action: [choose tool(s) from {tool_names}]
#     Observation: [interpret tool output]
#     (Repeat Thought/Action/Observation if needed)
#     Thought: I can now construct the required pandas query.
#     Output: [Pandas query in {format_instructions} format]

#     Begin:
#     """